# Editor directories and files
**/.idea
**/.vscode
**/.vs
**/*.suo
**/*.ntvs*
**/*.njsproj
**/*.sln
**/*.sw?

##### Frontend ######
**/node_modules/

# Optional npm cache directory
**/.npm

# Logs
**/logs
**/*.log
**/npm-debug.log*

##### Backend ######

### Python ###

**/__pycache__/
**/venv

baseline
/RL_Agent/study/
/RL_Agent/data/
