# Editor directories and files
.idea
.vscode
.vs
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

##### Frontend ######
node_modules/

# Optional npm cache directory
.npm

# Logs
logs
*.log
npm-debug.log*

##### Backend ######

### C-sharp ###

# Build results
[Dd]ebug/
[Rr]elease/
x64/
[Bb]in/
[Oo]bj/
out/


### Python ###

__pycache__/
